.Skyscraper-table {
  border-collapse: collapse;  
}

.Skyscraper-cell {
  width: 2rem;
  height: 2rem;  
  text-align: center;
  vertical-align: middle;
}

.Skyscraper-value {
  border: 1px solid black;
}

table.Skyscraper-tiny {
  border-collapse: collapse;
  width: 100%
}

table.Skyscraper-tiny td {
  font-size: 0.5rem;
}